.scroll {
  height: 100px;
  width: 100px;
  background: pink;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  color: white;
  border-radius: 50%;
}
.scrollE {
  height: 100px;
  width: 100px;
  background: red;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  color: white;
  border-radius: 50%;
}
