.dark {
  background: black;
  color: white;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 0 5px 5px black;
}

.white {
  background: white;
  color: black;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 0 5px 5px black;
}

.happy {
  background: pink;
  & > button {
    background: pink;
  }
}

.apple {
  background: red;
  & > button {
    background: red;
  }
}
.blue {
  background: blue;
  & > button {
    background: blue;
  }
}
.orange {
  background: orange;
  & > button {
    background: orange;
  }
}
.green {
  background: green;
  & > button {
    background: green;
  }
}

.done {
  background: blue;
}

.notdone {
  background: red;
}

.task {
  margin: 5px 0;
}
